.contenedorPrincipal {
  background-color: rgb(39, 38, 38);
  display: flex;
  justify-content: space-around;
  color: white;
  padding-top: 90px;

}
.tituloV {
  font-size: 60px;
  line-height: 14px;
}
.vitee {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: linear-gradient(120deg,  rgb(65, 209, 255), rgb(189, 52, 254));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fT, .nG {
  font-size: 60px;
  line-height: 18px ;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.logo {
  height: 400px;
}
.getS{
  background-color: rgba(108, 69, 252, 0.887);
  border-radius: 30px;
  color: white;
  height: 45px;
  width: 125px;
  border-style: none;
}
.wV{
  border-radius: 30px;
  background-color: rgb(70, 69, 69);
  color: white;
  height: 45px;
  width: 110px;
  border-color: gray;
  border-style: solid;
}
.voG{
  border-radius: 30px;
  background-color: rgb(70, 69, 69);
  color: white;
  height: 45px;
  width: 150px;
  border-color: gray;
  border-style: solid;
}
.getR, .canF {
  line-height: 15px ;
  color: darkgray;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.viteCard {
  background-color: rgb(43,42,42);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 24px;
}

.viteList {
  background-color: rgb(39, 38, 38);
  color:aliceblue;
  display:grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  gap: 20px;
  padding: 30px;
}


  
  
